:root{
   /* шрифты */
   --basic-font-style: 'Roboto', sans-serif;
   --secondary-font-style: 'Raleway', sans-serif;
   /* цвет фона */
   --basic-background: #ffffff;
   --secondary-background: #2f303a;
   /* цвет фона кнопок */
   --background-btn:#f5f4fa;
   --background-btn-hover:#2196f3;
   /* цвета текста */
   --color-text:#212121;
   --color-text-two:#757575;
   --color-text-link:#757575;
   /* цвета текста (hover)*/
   --color-text-btn: #2196f3;
}

/* сбросы отступов */
h1,
h2,
h3,
h4,
h5,
h6,
p{
   margin: 0;
}
ul{
   list-style: none;
   margin: 0;
   padding: 0;
}

/* общие воспомагательные классы */
body{
   font-family:var(--basic-font-style);
}

.section{
   padding: 94px 0;
}

.container{
   width: 1200px;
   padding-left: 15px;
   padding-right: 15px;
   margin-left: auto;
   margin-right: auto;
}

.container-header,
.container-info{
   display: flex;
}

.list-header{
   display: flex;
}
.list-nav-list{
   display: flex;
}
.list-details{
   display: flex;
}
.list-img{
   display: flex;
}
.list-team{
   display: flex;
}
.list-basic{
   display: flex;
}
.list-info{
   display: flex;
}

.list,
.info-block{
   list-style: none;
}

img{
   display: block;
   max-width: 100%;
   height: auto;
}

/* header навигация контакты */
.header{
   border-bottom: 1px solid #ECECEC;
}


.nav-list-item{
   margin-right: 50px;
}
.nav-list-item{
   margin-right: 50px;
}
.nav-list-item:last-child{
   margin-right: 0;
}

.nav-item-link{
   text-decoration: none;
color: var(--color-text);

font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;

padding-top: 32px;
padding-bottom: 32px;
display: block;
}


.list-nav-list{
   margin-left: auto;
}
.nav-list:first-child{
   margin-right: 50px;
}

.nav-link{
   text-decoration: none;
   color: var(--color-text-link);

   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.1;

   letter-spacing: 0.02em;

   padding-top: 32px;
   padding-bottom: 32px;
   display: flex;
   align-items: center;
}

.icon-envelope{
   width: 16px;
   height: 16px;
   margin-right: 10px;

   fill: currentColor;
}

.icon-smartphone{
   width: 16px;
   height: 16px;
   margin-right: 10px;

   fill: currentColor;
}


.nav-item-link:hover{
   color: var(--color-text-btn);
   }
.nav-item-link:focus{
   color: var(--color-text-btn);
}
.nav-link:hover{
   color: var(--color-text-btn);
}
.nav-link:focus{
   color: var(--color-text-btn);
}
.minor-linc:hover{
   color: var(--color-text-btn);
}
.minor-linc:focus{
   color: var(--color-text-btn);
}
.minor-address:hover{
color: var(--color-text-btn);
}
.minor-address:focus{
   color: var(--color-text-btn);
}
/* (main) basic information */

/* контакты */
.heading{
   max-width: 1600PX;
   margin-left: auto;
   margin-right: auto;
   padding: 200px 0;
   text-align: center;

   background-color: var(--secondary-background);
   background:url(../images/Img-шапка.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.basic-heading{
   color: #ffffff;
   font-style: normal;
   font-weight: 900;
   font-size: 44px;
   line-height: 1.3;
   letter-spacing: 0.06em;
   text-transform: uppercase;
}

.basic-btn{
   text-decoration: none;
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.1;
   letter-spacing: 0.06em;
   color: #FFFFFF;
   background-color: var(--background-btn-hover);

   margin-top: 30px;
   padding: 10px 32px;

   border-color: var(--color-text-btn);
   border: none;
   cursor: pointer;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
}
/* секция приемущeств */

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

.details-item{
   margin-right: 30px;
}

.icon-box{
   width: 270px;
   height: 120px;
   background: #F5F4FA;
   border-radius: 4px;
   margin-bottom: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.icon-box:last-child{
   margin: 0;
}
.img-svg{
   width: 70px;
   height: 70px;
}

.details-item:last-child{
   margin-right: 0;
}
.details-item-element {
   color: var(--color-text);
   font-style: normal;
   font-weight: bold;
   font-size: 14px;
   line-height: 1.1;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}

.details-item-part {
   color: var(--color-text-two);
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   
   margin-top: 10px;
   }


   /* список картинок */
   .section-work{
      padding-top: 0;
   }

   .small-header{
      color: var(--color-text);
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 1.2;
      letter-spacing: 0.03em;
   
      text-align: center;
   }

   .list-image-item{
      margin-top: 50px;
      margin-right: 30px;
   }
   .list-image-item:last-child{
      margin-right: 0;
   }

/*  список участников */
.team{
   background-color: var( --background-btn);
}

.small-team {
   color: var(--color-text);
   font-style: normal;
   font-weight: 700;
   font-size: 36px;
   line-height: 1.2;
   letter-spacing: 0.03em;

   text-align: center;
}

.hero-list{
   margin-top: 50px;
}

.personal-info-item{
   text-align: center;

   margin-right: 30px;
   margin-top: 50px;

   background-color: #fff;
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.personal-info-item:last-child{
   margin-right: 0;
}

.personal-txt{
   padding-top: 30px;
   padding-bottom: 30px;
}

.personal-name {
   color: var(--color-text);
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.2;
   letter-spacing: 0.03em;

   margin-bottom: 10px;
}
.personal-profession {
   color: var(--color-text-two);
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.2;
   letter-spacing: 0.03em;
}

.netvork-svg{
   margin-top: 16px;

   display: flex;
   justify-content: center;
}


.icon-item:not(:last-child){
   margin-right: 10px;
}

.icon-link{
   display: inline-flex;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   width: 44px;
   height: 44px;
   border-radius: 50%;
   margin-right: 10px;
   border: none;
   border-radius: 50%;
   fill: #afb1b8;
   color: #ffffff;
}
.icon-link:hover{
   background: var(--background-btn-hover);
   fill: #ffffff;
}
.icon-link:focus{
   background: var(--background-btn-hover);
   fill: #ffffff;
}

.icon-netvork:hover{
   fill: currentColor;
}
.icon-netvork:focus{
   fill: currentColor;
}


.icon-link:last-child{
   margin-right: 0;
}
.icon-netvork{
   width: 20px;
   height: 20px;
}
/* постоянные клиенты */
.clients{
   color: var(--color-text);
   font-style: normal;
   font-weight: 700;
   font-size: 36px;
   line-height: 1.2;
   letter-spacing: 0.03em;

   text-align: center;
}

.list-clients{
   display: flex;
   margin-top: 50px;
}

.item-clients:not(:last-child){
margin-right: 30px;
}

.link-clients{
   display: inline-flex;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   width: 170px;
   height: 92px;


   border: 1px solid #afb1b8;
   box-sizing: border-box;
   border-radius: 4px;

   fill: #afb1b8;
   color: #afb1b8;
}
.link-clients:hover{
   border: 1px solid var(--background-btn-hover);
   fill: #2196F3;
   color: #2196f3;
}
.link-clients:focus{
   border: 1px solid var(--background-btn-hover);
   fill: #2196F3;
   color: #2196f3;
}

.icon-clients{
   width: 106px;
   height: 60px;
   fill: currentColor;
}
/* подвал контактов */
.footer {
   background-color: var(--secondary-background);
   padding-top: 60px;
   padding-bottom: 60px;
}

.container-footer{
   display: flex;
   align-items: baseline;
}

.address{
   margin-top: 20px;
   display: flex;
}
.minor-list-item:not(:last-child){
   margin-bottom: 9px;
}

.minor-linc {
   text-decoration: none;
   color: rgba(255, 255, 255, 0.6);
   font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.2;
letter-spacing: 0.03em;
}

.minor-address {
   color: #ffffff;
   text-decoration: none;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 1.2;
   letter-spacing: 0.03em;
}


.footer-item:not(:first-child){
   margin-left: 70px;
}

.footer-motivation{
   color: var(--color-text);
   font-style: normal;
   font-weight: bold;
   font-size: 14px;
   line-height: 1.1;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #FFFFFF;

   margin-bottom: 20px;
}

.netvork-svg-minor{
   display: flex;
   justify-content: center;
}

.icon-item-minor:not(:last-child){
   margin-right: 10px;
}

.icon-link-minor{
   display: flex;
   align-items: center;
   justify-content: center;
   text-decoration: none;
   width: 44px;
   height: 44px;
   border-radius: 50%;
   border: none;
   border-radius: 50%;
   background: rgba(255, 255, 255, 0.1);
   fill: #ffffff;
   color: #ffffff;
}
.icon-link-minor:hover{
   background: var(--background-btn-hover);
   fill: #ffffff;
}
.icon-link-minor:focus{
   background: var(--background-btn-hover);
   fill: #ffffff;
}

.icon-netvork-minor{
   width: 20px;
   height: 20px;
}

.icon-netvork-minor:hover{
   fill: currentColor;
}

/* !!!!!!!!!PORTFOLIO!!!!!!! */

/* basic information */
.list-basic{
   justify-content: center;

   margin-bottom: 50px;
}

.list-item-nav:not(:last-child){
   margin-right: 8px;
}

.nav-btn{
   font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
text-align: center;
letter-spacing: 0.03em;

   border: none;
   border-radius: 4px;

   padding: 6px 22px;

   border-color: var(--background-btn);
}

.nav-btn:hover{
   color: #ffffff;
   background-color: #2196F3;
   cursor: pointer;

   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}
.nav-btn:focus{
   color: #ffffff;
   background-color: var(--background-btn-hover);
   cursor: pointer;

   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}
/*  основная информация */
.list-info{
   flex-wrap: wrap;
}


.info-block-item{
width: 370px;
margin-right: 30px;
margin-top: 30px;

background: var(--basic-background);
border: 1px solid #EEEEEE;
}
.info-block-item:nth-child(-n + 3) {
   margin-top: 0;
   }
   .info-block-item:nth-child(3n){
      margin-right: 0;
   }


.info-item-btn{
   text-decoration: none;
   display: block;
   padding-bottom: 20px;
}
.info-item-btn:hover{
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.info-item-btn:focus{
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.info-txt{
   margin-top: 20px;
   margin-right: 24px;
   margin-left: 24px;
}
.info-item-name {
   color: var(--color-text);
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 2.0;
   letter-spacing: 0.06em;
   }
.info-item-txt{
   color: var(--color-text-two);
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.2;
   letter-spacing: 0.03em;

   margin-top: 4px;
}



/* специфычные */
.logo{
   text-decoration: none;
   color: var(--color-text);
   font-family: var(--secondary-font-style);
   font-style: normal;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.2;
   letter-spacing: 0.03em;

   padding-top: 24px;
   padding-bottom: 25px;
   margin-right: 93px;
}
.logo-footer{
   text-decoration: none;
   color: rgb(255, 255, 255);
   font-family: var(--secondary-font-style);
   font-style: normal;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.2;
   letter-spacing: 0.03em;

   margin-top: 20px;
}
.logo-span{
   color: var(--color-text-btn);
}